:root {

        /* @link https://utopia.fyi/clamp/calculator?a=390,768,1.1—0.6|15—18|20—22|9—11 */
        
        --fs: clamp(0.9375rem, 0.744rem + 0.7937vw, 1.125rem);
        --lh: clamp(1.25rem, 1.121rem + 0.5291vw, 1.375rem);
        --track: clamp(0.0375rem, 0.101rem + -0.1323vw, 0.0688rem);
        --foot: clamp(0.5625rem, 0.4335rem + 0.5291vw, 0.6875rem);
        --underline: clamp(0.0625rem, 0.0303rem + 0.1323vw, 0.0938rem);


        --dark_bg: #333;
        --dark_type: #ddd;
    }

    @font-face {
        font-family: 'MF Normavaganza Extra';
        src: url('data:font/woff2;base64, AAEAAAAMAIAAAwBAR1BPU8N6z5sAABQEAAADZEdTVUKoQ7k0AAAXaAAAAEhPUy8yX9n+DwAAAUgAAABgY21hcEE/4pEAAALYAAAAdmdseWbY64jSAAAD7AAADhJoZWFkLpK3ngAAAMwAAAA2aGhlYQtVBw0AAAEEAAAAJGhtdHhPiwcrAAABqAAAAS5sb2NhoBSciAAAA1AAAACabWF4cABVAEcAAAEoAAAAIG5hbWUXojVyAAASAAAAAUZwb3N0CCwIJwAAE0gAAAC6AAEAAAAAAtG4FWvyXw889QADA+gAAAAA4++49gAAAADj77j2AAX/BgeYAvgAAAAGAAIAAAAAAAAAAQAAA7b/BgAAB7YABQAFB5gAAQAAAAAAAAAAAAAAAAAAAEsAAQAAAEwAJQADACAAAwABAAAAAAAAAAAAAAAAAAIAAQAEBHABkAAFAAQCigJYAAAASwKKAlgAAAFeADIBwgAAAAAAAAAAAAAAAIAAAAEAAAAAAAAAAAAAAABOT05FAEAAICAZAu7/BgDIA7YA+gAAAAEAAAAAAu4C7gAAACAAAgH0ADIAywAAAcwAHgFoAB4CrAAeBgcAFAGaAB4BGAAFAZoAHgQIAA8DmAAUBBAADwP8AA8EQgAPBCYADwQbAA8DdwAPBA8ADwQPAA8BmgAeAcIAHgMqAAUF7QAeBV8AHgSnAAoFWQAeBMsAHgSrAB4E1gAKBeIAHgLkAB4DuwAeBdIAHgSqAB4GPQAeBb8AHgUWAAoFDwAeBRYACgWHAB4EhgAKBSgAHgSzAB4FlwAeB7YAHgUWAB4FXgAeBL4AHgXtAB4FXwAeBKcACgVZAB4EywAeBKsAHgTWAAoF4gAeAuQAHgO7AB4F0gAeBKoAHgY9AB4FvwAeBRYACgUPAB4FFgAKBYcAHgSGAAoFKAAeBLMAHgWXAB4HtgAeBRYAHgVeAB4EvgAeAcsAHgAeAAAAAAACAAAAAwAAABQAAwABAAAAFAAEAGIAAAASABAAAwACACIAJwAuADsAPwBaAHogGf//AAAAIAAmACwAMAA/AEEAYSAY//8AAAAA/9r/2f/W/9X/z+AyAAEAEgAWAAAAAAAAAAAAAAAAAAAAAQACAAQABQADAAAAAAAVABUALAA8AEgAggCTAKAArQDJAOABAwEnAUEBYwGQAaUB0wH8AggCFAI5AloCjQK0AtoC+AMVAz4DagOAA5sDyQPiBBIEPARmBI0EugTqBR4FOgVeBX4FrwXTBfcGHQYlBi0GNQY9BkUGTQZVBl0GZQZtBnUGfQaFBo0GlQadBqUGrQa1Br0GxQbNBtUG3QblBu0G/gcJAAAAAgAy/wYBwgLuAAMABwAAFxEhESUhESEyAZD+ogEs/tT6A+j8GDIDhAAAAgAeAAABrgLuAAUACQAAEyc1IRUHFxEhEUstAZAtKP56AUCy/PyyPP78AQQAAAEAHgFkAUoC7gAFAAABIyc1IRUBJuQkASwBZNqwsAD//wAeAWQCjgLuACYAAwAAAAcAAwFEAAAAAgAU//cF8wL2ABwAJAAABSImNTQ2NzUmJjU0PgIzMgQXBzMRIxUhNSMGBAMVJTUlFSUVAa3C11lVQC82geKrsgFpnxq8Zv5wCmH+3UoBf/6BAVEJdHNJSw4KEUcuMlQ+Ihwf4v781cJoYwFWPAqvDzwUeAABAB7/dQF8ASwABgAAFzUjESERB4xuAV5bi4sBLP7yqQAAAQAFASYBEwHGAAMAAAEVITUBE/7yAcagoAABAB4AAAF8ASwAAwAAISERIQF8/qIBXgEsAAEAD//2A/kC+AAPAAATNDY2MzIWFhUUBgYjIiYmD23fqarebW3eqqnfbQF5b61jY61vdq5fX64AAQAUAAADhALuAAoAADMRITUHESUhETMRFAEY9QGCAQPIASxyNwEuWf4+/tQAAAEADwAABAEC+AATAAAzESUnBQM+AjMyFhUUBgYHFSERDwGhD/6lMEqcs2rq4E6phwGcAUUxVUgBDiEuGGFpOk8zDzf+1AABAA//9gPtAu4AEgAAExEhFwcWFhUQISImJicTBTUFNzYDnASoX2D+IWuqmVEeAib+vysBwQEtBeoVbWD+2QwbFgEXJ1cRZgABAA8AAAQzAu4ADQAAITUhEQEhFQczFTMRIxUB5/4oAWQCHND0gIBkAR0BbQnSjf7eZAAAAQAP//YEFwLuABEAAAEhEyERIRUzIBUUBiMiJCcTBQHT/ktOA3j+WsMBFvXyoP75egcBvQFhAY3+/DzIgm4YHAEOJQABAA//9gQMAvcAHAAAJRQGBiMiJiY1ND4CMzIeAhcHJRU+AzMyFgQMdtSOxfJuPIfkqEFfT1M1D/3ZJ0FDVDuToOhObDhhrXNWjWY3Bw8UDvgPfBIbEgllAAABAA8AAANoAu4ACAAAMzUBNSERIREBMQEV/skDWf64CgGFCwFU/tX+PQABAA//9wQAAvgAHQAABSImJjU0Njc1JiY1NDYzMhYWFRQGBxUWFhUUDgIB87HVXldUU0X68pXXdEVTV1M1eskJM109PEoRChtYMHd5L2VSMUoUChRMSDVRNx0AAAEAD//2BAAC+AAZAAATNDYzMh4CFRQGBiMiJiYnNwU1DgIjIiYT7e6Qyn46bO7DXpuPTBcCSjNWYEWPoAIWaXk6aZFXeahWDRsV/i53EhoNZf//AB4AAAF8ApQCJgAIAAAABwAIAAABaP//AB7/dQF8ApQAJgAGAAAABwAIAAABaAACAAUAAAMgAvMADwATAAATFzUFJzY2MzIWFhUUBiMhBREhEcLM/pskTbhjpL5Rn7L+8wF2/noBthNCIPwXGzRkSG16KP78AQQAAAEAHgAABc8C7gARAAATIQEzESERFzUhFTcRIREzNyO9AvYBiJT8/cP+PsP9jo2unALu/j7+1AEsFDw8FP7UASyWAAMAHgAABVUC7gAUABkAHgAAISERMzUjESEyFhYVFgcVFhYVFAYGASE1BycVNxc1IQQZ/AWMjAO/V4JIAZh6dD+L/a8BFIqKnJz+yAEslgEsKlE7gRgKCWJYQF40Abg8FBT6FBQ8AAEACv/1BIkC9wAVAAAlBgQHBiQmNTQ2MzIWFhczNSERIRUlBImI/vGYz/76e9G4ZI5jIQoBXv1CAsFGJygBAWe4eLe0Mlo9wP6nSygAAAIAHgAABU8C7gAQABYAADMRMzUjESEyHgIVFA4CIwM3FzUHJx6MjALwpN6FOjqF3qTUtra2tgEslgEsM2GLWFiLYTMBVBQUWhQUAAABAB4AAAStAu4ADwAAMxEzNSMRIRElFSUVJRUlER6MjARx/asB3v4iAnMBLJYBLP7oFEEReBJGHv7UAAABAB4AAASNAu4ADwAAMxEzNSMRIRElFSUVJRU3ER6MjARv/a0Bvf5DwQEslgEs/tkUQQ12D0YU/vIAAQAK//YEuAL4ABgAAAUiLgI1NDYkMzIeAhcRIRUlESE1IwYGAXdJhGY6gQEX4VKDdn1M/RwDBf5wCjHPCjBbhFR+u2YFCg8L/thLNP5wymNxAAEAHgAABcQC7gAbAAAzETM1IxEhEScVITUHESERIxUzESERFzUhFTcRHoyMArWZAW6ZArWMjP1Lmf6SmQEslgEs/v8UPDwUAQH+1Jb+1AEKFDw8FP72AAABAB4AAALGAu4ACwAAMxEzNSMRIREjFTMRHoyMAqiMjAEslgEs/tSW/tQAAAEAHv/sA50C7gANAAA3EwU1IREhERQGIyImJh4UAdr+NwNa/+xShnozAT4ZTAFK/qzc0g0fAAIAHgAABbQC7gAWABoAADMRMzUjESERJxUlNQcRIREhFzcRIScVAxU3Jx6MjALCpgGQrgJH/vymr/3bh86eJAEslgEs/vULQCxAMQEF/tSpE/7UvLwBMUEPMgAAAQAeAAAEjALuAA0AADMRMzUjESERIxUzJyERHoyMAqOH1hQBkAEslgEs/tSWsv4iAAADAB4AAAYfAu4AFQAZAB0AADMRMzUjESEXMzchESMVMxEhNQcjJxUDFTcnIQcXNR6MjAKSmwqbAi+MjP1MkQqKmHlvAkFxewEslgEs1NT+1Jb+1OS+ud8BnqALlZULoAADAB4AAAWhAu4ADwATABcAADMRMzUjESEXNSERIxEhJxUBMzUHBRU3Jx6MjAJotwJkgv4ktwGFCnv+Dn91ASyWASy5uf7U/j6zswFefQtOfQtyAAACAAr/9gUMAvgAEwAZAAATND4CMzIeAhUUDgIjIi4CJTcXNQcnCkSW9bKy9ZZERJb1srL1lkQBqdjY2NgBfFSLZjc3ZotUVo9oOTlojysUFFoUFAACAB4AAAUFAu4AEgAXAAAzETM1IxEhMhYWFRQGBiMhFTcREzUHJxUejIwDXpWsSEislf7D0GGdmQEslgEsOWpLQV0xPBT+9wGuPBQUPAACAAr/mQUMAvgAFAAaAAATND4CMzIeAhUUBgYHFyE3LgIlNxc1BycKRJb1srL1lkROr5Ei/dYika9OAanY2NjYAXxUi2Y3N2aLVFyXaRhvbxhplzEUFFoUFAADAB4AAAVpAu4AEwAYABwAADMRMzUjESEyFhUUBgYHFzcRIScVAxUhNQcHFTcnHoyMA/WemixoWWKp/h5/zgEqlZWcIgEslgEsW2g3VDQHXhT+5bi4Aeo8PBSlQQ8yAAABAAr/8gR8AvgAHwAAATc2FhYVFAYGIyYkJxMFNSEiJjU0NjMyFhYXMzUhESEBycen2mt79LSz/uSAFwKU/vPHy6i1Yo1nJwoBNv2ZAZ8YFCxsTV5rKwEcGQEKPUFhd3B6KU02ov7yAAEAHgAABQoC7gAPAAAhETM1IxchESERITcjFTMRAQTIRh7+egTs/noeRsgBLM2gAZX+a6DN/tQAAQAe//YElQLuABMAABMRIQMzAyERIxcWBgYjIi4CNzceAiQcZRwCJmABJVnuu4zTgSYfAQHCASz+UQGv/tQFqchWMGuufwQAAQAeAAAFeQLuAA8AAAERJxUhNQcRIREjASEBIxEDC8oB0MoCMoH+uf4w/r2AAu7+1BQ8PBQBLP7U/j4BwgEsAAEAHgAAB5gC7gAbAAABEScVITUHESERJxUhNQcRIREjAyEDIwMhAyMRAq2+AaSqApu+AaSqAdhuyf4SexR7/e3KbgLu/tQUPDwUASz+1BQ8PBQBLP7U/j4BA/79AcIBLAAAAQAeAAAE+ALuABEAADMRBScFESEXNyERJRclESEnBx4BhWL+5AIejyYB9P6JXwEk/d+cKQFUDWceAV6UlP62DWIU/p2lpQAAAQAeAAAFQALuABMAAAERJxUhNQcRIREjBzcRIREXJyMRAuquAYOZAhpQ/LP8EqjzUALu/tQUPDwUASz+1K0X/tQBLBOoAS0AAwAeAAAEoALuAAkADQARAAAhIRElIREhEQUhJRc3NQMhJwUEoPt+AW3+uwQy/tgBUP0YH9+uATAi/vIBLG4BVP7UWpZNQwr+/FxS//8AHgAABc8C7gIGABYAAP//AB4AAAVVAu4CBgAXAAD//wAK//UEiQL3AgYAGAAA//8AHgAABU8C7gIGABkAAP//AB4AAAStAu4CBgAaAAD//wAeAAAEjQLuAgYAGwAA//8ACv/2BLgC+AIGABwAAP//AB4AAAXEAu4CBgAdAAD//wAeAAACxgLuAgYAHgAA//8AHv/sA50C7gIGAB8AAP//AB4AAAW0Au4CBgAgAAD//wAeAAAEjALuAgYAIQAA//8AHgAABh8C7gIGACIAAP//AB4AAAWhAu4CBgAjAAD//wAK//YFDAL4AgYAJAAA//8AHgAABQUC7gIGACUAAP//AAr/mQUMAvgCBgAmAAD//wAeAAAFaQLuAgYAJwAA//8ACv/yBHwC+AIGACgAAP//AB4AAAUKAu4CBgApAAD//wAe//YElQLuAgYAKgAA//8AHgAABXkC7gIGACsAAP//AB4AAAeYAu4CBgAsAAD//wAeAAAE+ALuAgYALQAA//8AHgAABUAC7gIGAC4AAP//AB4AAASgAu4CBgAvAAAAAQAeAVoBrQLuAAYAABM1IxEhFQeWeAGPPAFakAEEy8kA//8AHgFaAa0C7gBHAEoBywAAwABAAAAAAAAACABmAAMAAQQJAAEAKgAAAAMAAQQJAAIADgAqAAMAAQQJAAMAPgA4AAMAAQQJAAQAKgAAAAMAAQQJAAUAGgB2AAMAAQQJAAYAKACQAAMAAQQJABAAHgC4AAMAAQQJABEACgDWAE0ARgAgAE4AbwByAG0AYQB2AGEAZwBhAG4AegBhACAARQB4AHQAcgBhAFIAZQBnAHUAbABhAHIAMAAuADAAMQAxADsATgBPAE4ARQA7AE0ARgBOAG8AcgBtAGEAdgBhAGcAYQBuAHoAYQAtAEUAeAB0AHIAYQBWAGUAcgBzAGkAbwBuACAAMAAuADAAMQAxAE0ARgBOAG8AcgBtAGEAdgBhAGcAYQBuAHoAYQAtAEUAeAB0AHIAYQBNAEYAIABOAG8AcgBtAGEAdgBhAGcAYQBuAHoAYQBFAHgAdAByAGEAAAACAAAAAAAA/7UAMgAAAAAAAAAAAAAAAAAAAAAAAAAAAEwAAAADAAQACgAFAAkADwAQABEAEwAUABUAFgAXABgAGQAaABsAHAAdAB4AIgAkACUAJgAnACgAKQAqACsALAAtAC4ALwAwADEAMgAzADQANQA2ADcAOAA5ADoAOwA8AD0ARABFAEYARwBIAEkASgBLAEwATQBOAE8AUABRAFIAUwBUAFUAVgBXAFgAWQBaAFsAXABdALYAtwAAAAEAAAAOABYACgABABQAAURGTFQAGAABa2VybgAUAAIAAAABABoACgAAAAAAAQAAAAD//wABAAAAAQBWAAQAAAAWAvoBlALMAQwBugHgAGwCeACCAJgAsgA2ANACogEuAVAA7gIGAiwARAFyAlIAAwAW/2oAH//YAC//2AAEABj/9gAc//YAJP/2ACb/9gACAAMAFgAcAAAAIAAhAAcAIwAvAAkABQAp/+wAKv/iACv/2AAs/9gALv/iAAUAKf/2ACr/7AAr/+wALP/sAC7/4gAGABb/fgAY//YAHP/sACT/7AAm/+wAL//iAAcAFv/sAB//9gAq/+wAK//sACz/7AAu/+wAL//sAAcAFv/sAB//7AAq/+wAK//sACz/7AAu/+wAL//sAAcAFv+mABj/9gAc/+wAH//YACT/9gAm//YAL//YAAgAFv/2ABf/9gAf/+wAKv/2ACv/7AAs/+wALv/sAC//9gAIABj/9gAk//YAJv/2ACn/2AAq/8QAK//OACz/zgAu/84ACAAW/34AGP/2ABz/9gAf/+IAJP/2ACb/9gAo//YAL//YAAgAGP/sABz/7AAf/9gAJP/sACb/7AAo//YALf/2AC//2AAJABj/9gAf//YAJP/2ACb/9gAp/8QAKv/OACv/sAAs/7AALv+wAAkAGP/2ABz/9gAk//YAJv/2ACn/4gAq/+IAK//iACz/4gAu/+IACQAW/2AAGP/2ABz/7AAf/9gAJP/sACb/7AAo//YALf/2AC//2AAJABb/YAAY/+wAHP/iAB//2AAk/+wAJv/sACj/9gAt//YAL//YAAkAFv9gABj/7AAc/+wAH//YACT/7AAm/+wAKP/2AC3/9gAv/9gACQAY//YAH//2ACT/9gAm//YAKf/sACr/2AAr/9gALP/YAC7/4gAKABj/7AAc//YAH//2ACT/7AAm/+wAKf+wACr/pgAr/6YALP+mAC7/pgAKABj/7AAc/+wAH//2ACT/7AAm/+wAKf/YACr/2AAr/9gALP/YAC7/2AALABb/9gAY//YAHP/2ACT/9gAm//YAKf/iACr/4gAr/9gALP/YAC7/4gAv//YADAAC//YAGP/sABz/9gAf/+wAJP/sACb/7AAo//YAKf84ACr/sAAr/xoALP9MAC7/ZQABAAAADgAWAAoAAQAUAAFERkxUABgAAWNhbHQAFAABAAAAAQASABAAAAAAAAEAAAABAA7/5gAA//8AAQAAAAIAAQAwAEkAAA=='), format('woff2'); 
    }

    body {
        margin: auto;
        max-width: 1200px;
    }

    p {
        font-family: sans-serif;
        font-size: var(--fs);
        line-height: var(--lh);
        margin: auto;
        padding: 3vw;
        max-width: 768px;
    }
    
    .big {
        font-family: 'MF Normavaganza Extra';
        font-size: 10vw;
        line-height: 75%;
        color: white;
    }

    .footer {
        font-family: sans-serif;
        letter-spacing: var(--track);
        width: 100%;
        position: fixed;
        bottom: 0;
        padding: var(--fs);
        font-size: var(--foot);
        background-color: #fff;
    }

    a {
        color: #222;
        /* font-weight: bold; */
        text-decoration: underline;
        text-underline-offset: 2px;
        text-decoration-thickness: var(--underline);
    }

    a:hover {
        /* color: #FF0031; */
    }

    .right {
        text-align: right;
    }

.svg-container {
    margin: 0;
    display: none;
    width: 100%;
}

.bigass, .header {
    margin: auto;
    max-width: 1200px;
}

#first, .bigass {
    margin-top: 2.5em;
}


/* :root {
    --divider: 40em;
    --accent: #FF0031;
}

@font-face {
    font-family: 'MF Senza';
    src: url('MF_Senza-VF.ttf') format('truetype');
}

body {
    font-family: 'MF Senza', monospace;
    margin: 0;
    padding: 0;
}

.navbar {
    position: fixed;
    top: 1em;
    width: 100%; 
    display: flex;
    justify-content: center;
    gap: 1em;
    z-index: 1000;
}

.nav-button {
    background-color: #000000;
    color: #FFFFFF;
    padding: .4em .7em .5em .7em;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'MF Senza', monospace;
    font-weight: 700;
    font-size: 1em;
}

.left {
    width: calc(var(--divider));
}

.container {
    display: flex;
    overflow: hidden;
}

.intro-text {
    margin-top: 15vh;
    margin-left: 5vw;
    margin-right: 5vw;
    font-size: 1.3em;
    line-height: 1.3;
}

a {
    color: #000000;
    text-decoration: none;
    font-family: 'MF Senza', monospace;
    font-weight: 700;
    font-synthesis: none;
}

a:hover  {
    color: var(--accent);
}

.nav-button:hover {
    color: white;
    background-color: var(--accent);;
}

#bigLogo {
    width: 6em;
    height: 6em;
    margin: auto;
    margin-top: 2em;
    margin-bottom: 4em;
    background: url('favicon.svg') no-repeat center center;
    background-size: contain;
}

.right {
    width: calc(100% - var(--divider));
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.svg-container {
    margin: 0;
    display: none;
    width: 100%;
}

.bigass, .header {
    margin: auto;
    max-width: 1200px;
}

#first, .bigass {
    margin-top: 2.5em;
}

footer {
    margin: auto;
    max-width: 40em;
    padding: 4em 2em 6em 2em;
}

@media (max-width: 1200px) {          

    .container {
        flex-direction: column;
        width: 100%;
    }

    .left {
        width: 100%;
    }

    .right {
        order: -1;
        width: 100%;
        margin-top: 4em;
    }            

    .svg-container {
        height: auto;
    }

    .intro-text {
        color: #000000;
        font-size: 1.1em;
        margin: auto;
        max-width: 700px;
        padding: 0 2em 2em 2em;
    }

    .bigass {
        margin-top: 4em;
    }

    footer {
        margin: auto;
        max-width: 40em;
        padding: 0 2em 2em 2em;
    }
} */